@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<partial name="_EmpCard" />
<a href="/Employee/Index">Back To List</a>
<a href="/Employee/ConfirmDelete/@Model.Id">Confirm Delete</a>