<h1>hello world from first view</h1>
<style>
	h1{
		color :red;
	}
</style>
<script>
	console.log("awa3a");
</script>
@{
	int x=10;
	int y = x + 5;
}
@if(x>y)
{
	<h3>x=@x is a gretest</h3>
}
else
{
	<h3>y=@y is a less</h3>
}

<h2>x=@x is less than y=@y</h2>

@for(int i =0 ; i<10; i++)
{

	<li>
		@i
	</li>
}